{% extends "base.html"%}
{% block content %}

<html>
  <head>
    <title>Welcome</title>
  </head>

  <body>
    <center>

      <div class="jumbotron">
        <div class="container">

          <a target = '_blank' href="https://imvickykumar999.herokuapp.com/">
            <img src="../static/ideationology.jpg" 
              width="85%"
              alt="ideationology logo">
          </a>

          <br><br><br>
          <h1>Welcome</h1>
          
        </div>
      </div>

    </center>
  </body>
</html>

{% endblock %}
